jspers_ajax/ch04/WebServiceFromWSDL/WebServiceFromWSDL/Web References/JavawideGreetService/GreetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://webservice.ch04.blackbook1.book.javawide.com" xmlns:impl="http://webservice.ch04.blackbook1.book.javawide.com" targetNamespace="http://webservice.ch04.blackbook1.book.javawide.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.ch04.blackbook1.book.javawide.com">
      <xsd:element name="add">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="op1" type="xsd:int" />
            <xsd:element name="op2" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="divide">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="op1" type="xsd:int" />
            <xsd:element name="op2" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="divideResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="divideReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multiply">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="op1" type="xsd:int" />
            <xsd:element name="op2" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multiplyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="multiplyReturn" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="minus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="op1" type="xsd:int" />
            <xsd:element name="op2" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="minusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="minusReturn" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doGreet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doGreetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="doGreetReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="multiplyResponse">
    <wsdl:part name="parameters" element="impl:multiplyResponse" />
  </wsdl:message>
  <wsdl:message name="multiplyRequest">
    <wsdl:part name="parameters" element="impl:multiply" />
  </wsdl:message>
  <wsdl:message name="divideRequest">
    <wsdl:part name="parameters" element="impl:divide" />
  </wsdl:message>
  <wsdl:message name="minusResponse">
    <wsdl:part name="parameters" element="impl:minusResponse" />
  </wsdl:message>
  <wsdl:message name="minusRequest">
    <wsdl:part name="parameters" element="impl:minus" />
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" element="impl:addResponse" />
  </wsdl:message>
  <wsdl:message name="addRequest">
    <wsdl:part name="parameters" element="impl:add" />
  </wsdl:message>
  <wsdl:message name="doGreetResponse">
    <wsdl:part name="parameters" element="impl:doGreetResponse" />
  </wsdl:message>
  <wsdl:message name="divideResponse">
    <wsdl:part name="parameters" element="impl:divideResponse" />
  </wsdl:message>
  <wsdl:message name="doGreetRequest">
    <wsdl:part name="parameters" element="impl:doGreet" />
  </wsdl:message>
  <wsdl:portType name="GreetService">
    <wsdl:operation name="add">
      <wsdl:input name="addRequest" message="impl:addRequest" />
      <wsdl:output name="addResponse" message="impl:addResponse" />
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdl:input name="divideRequest" message="impl:divideRequest" />
      <wsdl:output name="divideResponse" message="impl:divideResponse" />
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdl:input name="multiplyRequest" message="impl:multiplyRequest" />
      <wsdl:output name="multiplyResponse" message="impl:multiplyResponse" />
    </wsdl:operation>
    <wsdl:operation name="minus">
      <wsdl:input name="minusRequest" message="impl:minusRequest" />
      <wsdl:output name="minusResponse" message="impl:minusResponse" />
    </wsdl:operation>
    <wsdl:operation name="doGreet">
      <wsdl:input name="doGreetRequest" message="impl:doGreetRequest" />
      <wsdl:output name="doGreetResponse" message="impl:doGreetResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreetServiceSoapBinding" type="impl:GreetService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="divideRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="divideResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multiplyRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multiplyResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="minus">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="minusRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="minusResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGreet">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="doGreetRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="doGreetResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreetServiceService">
    <wsdl:port name="GreetService" binding="impl:GreetServiceSoapBinding">
      <wsdlsoap:address location="http://localhost:8088/ch04/services/GreetService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>