jspers_ajax/ch04/WebContent/wsdl/GreetService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.ch04.blackbook1.book.javawide.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.ch04.blackbook1.book.javawide.com" xmlns:intf="http://webservice.ch04.blackbook1.book.javawide.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.ch04.blackbook1.book.javawide.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="op1" type="xsd:int"/>
      <element name="op2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divide">
    <complexType>
     <sequence>
      <element name="op1" type="xsd:int"/>
      <element name="op2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divideResponse">
    <complexType>
     <sequence>
      <element name="divideReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiply">
    <complexType>
     <sequence>
      <element name="op1" type="xsd:int"/>
      <element name="op2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplyResponse">
    <complexType>
     <sequence>
      <element name="multiplyReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="minus">
    <complexType>
     <sequence>
      <element name="op1" type="xsd:int"/>
      <element name="op2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="minusResponse">
    <complexType>
     <sequence>
      <element name="minusReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="doGreet">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doGreetResponse">
    <complexType>
     <sequence>
      <element name="doGreetReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="multiplyResponse">

      <wsdl:part element="impl:multiplyResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="multiplyRequest">

      <wsdl:part element="impl:multiply" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="divideRequest">

      <wsdl:part element="impl:divide" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="minusResponse">

      <wsdl:part element="impl:minusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="minusRequest">

      <wsdl:part element="impl:minus" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="doGreetResponse">

      <wsdl:part element="impl:doGreetResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="divideResponse">

      <wsdl:part element="impl:divideResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="doGreetRequest">

      <wsdl:part element="impl:doGreet" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="GreetService">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="divide">

         <wsdl:input message="impl:divideRequest" name="divideRequest"/>

         <wsdl:output message="impl:divideResponse" name="divideResponse"/>

      </wsdl:operation>

      <wsdl:operation name="multiply">

         <wsdl:input message="impl:multiplyRequest" name="multiplyRequest"/>

         <wsdl:output message="impl:multiplyResponse" name="multiplyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="minus">

         <wsdl:input message="impl:minusRequest" name="minusRequest"/>

         <wsdl:output message="impl:minusResponse" name="minusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="doGreet">

         <wsdl:input message="impl:doGreetRequest" name="doGreetRequest"/>

         <wsdl:output message="impl:doGreetResponse" name="doGreetResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GreetServiceSoapBinding" type="impl:GreetService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divide">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divideRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divideResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiply">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="minus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="minusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="minusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doGreet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doGreetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doGreetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GreetServiceService">

      <wsdl:port binding="impl:GreetServiceSoapBinding" name="GreetService">

         <wsdlsoap:address location="http://localhost:8088/ch04/services/GreetService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
